<div class="perfil">
    <div class="texto">
        <h1 class="titulo">Lucas Zoser Nunes Costa</h1>
        <div class="container">
            <h3 class="text">Full Stack Developer</h3>
        </div>
    </div>
</div>

<div class="social">
    <div>
        <a href="https://www.linkedin.com/in/lucaszoser/" target="_blank"><img class="social-imagens" src="/assets/linkedin.png" alt="linkedin"></a>
        <a href="https://github.com/Zosin0/" target="_blank"><img class="social-imagens" src="/assets/github.png" alt="github"></a>
        <a href="contato.html"><img class="social-imagens" src="/assets/contato.png" alt="contato"></a>
    </div>
</div>