<div class="bar"></div>
<nav class="navbar">
    <a href="#" class="navbar-logo">
        <img style="width: 75px;" src="/assets/logo.png" alt="logo">
    </a>

    <button class="menu-toggle" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>

    <ul class="nav-links" [ngClass]="{ 'active': isMenuOpen }">
        <li><a href="#sobre">Sobre Mim</a></li>
        <li><a href="#projetos">Projetos</a></li>
        <li><a href="#certificados">Certificações</a></li>
        <li><a href="#habilidades">Habilidades</a></li>
    </ul>
</nav>