<div class="bar"></div>
<nav class="navbar" id="navbar">
    <div class="item-link-nav" id="nav-links">
        <a><img style="width: 75px;" src="../../../app/assets/logo.png" alt="logo"></a>
    </div>
    <ul class="nav-links">
        <li class="item-link-nav"><a class="topnavi" href="#sobre">Sobre Mim</a></li>
        <li class="item-link-nav"><a class="topnavi" href="#projetos">Projetos</a></li>
        <li class="item-link-nav"><a class="topnavi" href="#certificados">Certificações</a></li>
        <li class="item-link-nav"><a class="topnavi" href="#habilidades">Habilidades</a></li>
    </ul>
</nav>