<section id="sobre" class="sobre-container">
    <div class="sobre-content">
        <h1 class="titulo-sobre">Sobre Mim</h1>
        <p class="texto-sobre-content">
            Meu nome é Lucas Zoser, tenho 23 anos e sou desenvolvedor. 
            Atualmente, uso a era da informação para estudar e aprender diariamente, me destacando no mercado de desenvolvimento e 
            buscando me tornar um desenvolvedor FullStack. Estou disponível para todo tipo de desafio, posso oferecer minha adaptabilidade, 
            vontade de aprendizado rápido, resolução de problemas, fácil comunicação e integração digital para os projetos e trabalhos solicitados. 
            Meu destaque é com certeza o comprometimento, serei um profissional dedicado a qualquer tarefa submetida, combinando isso com minha facilidade 
            com o uso de computadores e softwares, sempre motivado a melhorar meu trabalho.
        </p>
    </div>
</section>
