<section id="sobre" class="sobre">
    <div class="texto-sobre">
        <h1 class="titulo-sobre">Sobre Mim</h1>
        <h3 class="texto-sobre-content">
            Meu nome é Lucas Zoser, tenho 21 anos e sou desenvolvedor. Atualmente, uso a era da informação para estudar e aprender diariamente, me destacando no mercado de desenvolvimento e buscando me tornar um desenvolvedor FullStack. Estou disponível para todo tipo de desafio, posso oferecer minha adaptabilidade, vontade de aprendizado rápido, resolução de problemas, fácil comunicação e integração digital para os projetos e trabalhos solicitados. Meu destaque é com certeza o comprometimento, serei um profissional dedicado a qualquer tarefa submetida, combinando isso com minha facilidade com o uso de computadores e softwares, sempre motivado a melhorar meu trabalho.
        </h3>
    </div>
</section>
