.sobre{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 1%;
    margin-left: 10%;
    padding-bottom: 10%;

}
.texto-sobre{
    max-width: 80%;
}
.titulo-sobre{
    color: var(--cor-secundaria);
    text-align: left;
}
.texto-sobre-content{
    text-align: justify;
    color: white;
}